@font-face {
  font-family: "Gamepixies";
  src: url("assets/fonts/gamepixies-font/Gamepixies-8MO6n.ttf") format("woff2");
       /*url("/fonts/OpenSans-Regular-webfont.woff") format("woff");*/
  /* filter: contrast(1); */
}
@font-face {
  font-family: "ISLAND";
  src: url("assets/fonts/scigho-anitiquity-print/antiquity-print.ttf") format("woff2");
       /*url("/fonts/OpenSans-Regular-webfont.woff") format("woff");*/
  /* filter: contrast(1); */
}

* {
  box-sizing: border-box;
}
body {
	margin: 0px;
	padding: 0px;
	background: #e9ddc5;
}
section {
	width: 275px;
	margin-top: 20px;
	overflow-y: none;
	scroll-behavior: smooth;
	top: 0;
	left: 0;
	top: 0;
}
main {
	scroll-behavior: smooth;
	margin: 25px;
	padding: 5%;
	border: 10px solid rgb(68, 58, 58);
	border-image: url(assets/images/black_pixel_border.png) 10 round;
}
@media screen and (min-width: 480px) {
	body {overflow: hidden;}
	section {
		position: fixed;
		z-index: 1;
		height: calc(100vh - 50px);
	}
	main {
		float: right; 
		height: calc(100vh - 50px);
		width: calc(100% - 300px);
		padding: 50px;
	}
	#menu {height: calc(100vh - 250px);}
}
@media screen and (max-width: 480px) {
	#menu {width: 100%;}
}
#menu {
	position: sticky;
	top: 0;
	overflow: unset;
	margin-top: 20px;
	margin-left: 25px;
	margin-right: 25px;
	border: 10px solid black;
	border-image: url(assets/images/black_pixel_border.png) 10 round;
}
.simplebar-scrollbar {
	margin: 5px;
	border-radius: 0px;
	/*background: grey;*/
	width: 5px;
}

/*General style classes*/
._div {
	border: 10px solid black;
	border-image: url(assets/images/black_pixel_border.png) 10 round;
}
._no_border {
	border: none;
}
._inline {
	display: flex; 
	width: 100%; 
	height: 40px; 
	justify-content: space-between;
}

/* Misc styles */
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/*Mobile style classes*/
#mobile_body {
	display: flex;
	justify-content: center;
}
#mobile {
	width: 400px;
	margin: 100px;
	padding: 20px;
}
#date1 {
	margin-top: 20px;
}
#date_details {
	display: inline-flex;
	width: 100%;
	justify-content: space-between;
	border-bottom: 10px solid black;
	border-image: url(assets/images/black_pixel_border.png) 10 round;
}

/*Project style classes*/
#projects {
	margin-top: 100px;
}
.project {
	display: inline-flex;
	width: 100%;
	height: auto;
	margin-bottom: 25px;
}
.project_details {
	margin: 20px;
}
#user_details {
	display: inline-flex;
	width: 100%;
	justify-content: safe flex-start;
}

/*Mian style classes*/
#profile {
	width: calc(100% - 50px);
	padding-left: 25px;
	padding-right: 25px;
	margin-left: 25px;
	margin-right: 25px;
	font: 27px Gamepixies;
	color: #3b321d;
	border: 10px solid #3b321d;
	border-image: url(assets/images/black_pixel_border.png) 10 round;
}

* {
	color: #3b321d;
}

h1, h2, h3 {
	display: inline-flex;
	margin-bottom: 0%;
	padding-right: 10px;
	border-bottom: 5px solid #3b321d;
	font-family: ISLAND;
}
p {
	padding: 5px;
	font-family: Gamepixies;
	font-size: 20px;
	font-style: normal;
}
span, sub, kbd, th, tr, td {
	font-family: Gamepixies;
}
kbd {
	display: block;
	margin-left: 2rem;
	/* color: black; */
	font-weight: bold;
}

button {
	display: block;
	align-self: center;
	width: 90%;
	margin: 5%;
	cursor: pointer;
	/*background: #1dc7fa;*/
	font-family: ISLAND;
	font-size: 23px;
	background: transparent;
	padding: 2px;
	border: 10px solid #3b321d;
	border-image: url(assets/images/black_pixel_border.png) 10 round;
}
/*button:hover {
	color: white;
	padding: 12px;
	border: none;
	background-repeat: no-repeat;
	background-image: url(assets/images/black_pixel_border_background2.png);
	background-size: 50% 100%;
	background-position: center;
  transition: background 0.5s;
}
*/

._button {
	display: block;
	align-self: center;
	width: 90%;
	margin: 5%;
	color: #3b321d;
	/*background: #1dc7fa;*/
	font-family: ISLAND;
	font-size: 23px;
	background: transparent;
	padding: 2px;
	border: 10px solid #3b321d;
	border-image: url(assets/images/black_pixel_border.png) 10 round;
}
._button:hover {
	color: #e9ddc5;
	padding: 12px;
	border: none;
	transition: 0.3;
	background-repeat: no-repeat;
	background-image: url(assets/images/black_pixel_border_background2.png);
	background-size: 100% 100%;
	background-position: center;
}
a {
  text-decoration: none;
}

table, th, tr, td {
	border: 1px solid pink;
}